<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\internal_logs\internallog.txt">

    <targets>
        <target name="logfile" type="File"
                fileName=".\logs\${shortdate}_logfile.txt"
                layout="${longdate} ${level:uppercase=true} ${message}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>